.has-validator {
    .form-control {
        border-color: $purple;
        &.ng-untouched {
            border-color: $border;
        }
    }
    .ng-valid .form-control,
    .ng-valid .selection,
    .ng-valid.form-control {
        border-color: $border;
    }
    .ng-invalid.ng-touched .form-control,
    .ng-invalid.ng-touched .selection,
    .ng-invalid.ng-touched.form-control {
        border-color: $purple;
    }
}

.all-validation {
    .error {
        display: block;
    }
    .has-validator {
        .ng-invalid .form-control,
        .ng-invalid .selection,
        .ng-invalid.form-control {
            border-color: $purple;
        }
        app-transliteration-input {
            &.form-control.ng-invalid {
                input {
                    border-color: $purple;
                }
            }
        }
    }
}

.is-required {
    position: relative;
    &:before {
        content: "*";
        display: block;
        position: absolute;
        font-size: 19px;
        color: $blue;
        line-height: 46px;
        right: 15px;
    }
    .form-control {
        padding-right: 25px;
    }
}

.error {
    font-size: 10px;
    color: $purple;
    margin-top: 2px;
    display: none;
}