$blue: #24aded;
$blue-btn-hover: #4cc7ff;
$border: #e9eff4;
$light-grey: #ECF1F3;
$purple: #fe0080;
$min-width: 990px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
html,
body {
    min-height: 100%;
    min-width: $min-width;
    height: 1px; // Required to make the child 100% of the min-height
    background: $light-grey;
}
body {
    font-size: 16px;
    color: #000;
    position: relative;
    font-family: "Roboto", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}
.cols {
    display: table;
    width: 100%;
    .row {
        display: table-row;
        padding: 0;
        margin: 0;
    }
    .col {
        display: table-cell;
        vertical-align: top;
    }
}
.container {
    @media (min-width: 320px) {
        min-width: $min-width !important;
        width: $min-width;
    }
}
.form-group {
    label {
        font-weight: 400;
        font-size: 12px;
        display: block;
    }
    &-captcha{
        display: none;
    }
}
.form-control {
    height: 44px;
    box-shadow: none !important;
    border-color: $border;
    font-size: 12px;
    &:focus {
        border-color: $blue !important;
    }
}
.checkbox {
    input {
        display: none;
        &:checked+span {
            &:before {
                border-color: transparent;
                background-image: url('../img/icon-blue-check.svg');
            }
        }
    }
    span {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        display: block;
        &:before {
            content: '';
            width: 18px;
            height: 18px;
            border-radius: 3px;
            border: 1px solid $border;
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            margin: -10px 0;
            background-repeat: no-repeat;
            background-size: 150% 150%;
            background-position: center center;
        }
    }
}

.btn {
    display: inline-block;
    padding: 0 10px;
    height: 44px;
    line-height: 44px;
    background: $blue;
    border-radius: 3px;
    border: none;
    letter-spacing: 1px;
    text-align: center;
    font-weight: bold;
    font-size: 0;
    color: #ffffff;
    transition: all 0.4s ease;
    cursor: pointer;
    img {
        display: inline-block;
        vertical-align: middle;
        margin-right: 13px;
    }
    span {
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
    }
    &:hover {
        background: $blue-btn-hover;
        color: #ffffff;
    }
    &:focus{
        color: #fff;
    }
}
header {
    .sandwich {
        position: absolute;
        cursor: pointer;
        top: 34px;
        left: 30px;
        width: 22px;
        height: 14px;
        font-size: 0;
        z-index: 1;
    }
}

.side-menu {
    position: fixed;
    right: 100%;
    top: 0;
    bottom: 0;
    width: 300px;
    min-height: 100%;
    background-color: $light-grey;
    z-index: 10;
    transition: transform .5s ease;
    &.is-on {
        box-shadow: 0 2px 40px 0 rgba(56, 127, 161, 0.5);
        transform: translateX(300px);
    }
    .top {
        background: $blue;
        display: table;
        width: 100%;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        color: #fff;
        padding: 0 30px;
        height: 81px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        a {
            color: #fff;
        }
        .location {
            display: table-cell;
            vertical-align: middle;
        }
        .control {
            display: table-cell;
            vertical-align: middle;
            white-space: nowrap;
            width: 1px;
            text-decoration: none !important;
            button {
                font-size: 0;
                background: transparent;
                border: none;
                text-transform: uppercase;
            }
            span{
                font-size: 12px;
                display: inline-block;
                vertical-align: middle;
            }
            img {
                display: inline-block;
                vertical-align: middle;
                margin-left: 12px;
            }
        }
    }
    .bottom {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 10px 0 10px;
        text-align: center;
        @media (max-height: 580px) {
            display: none;
        }
    }
    .navigation {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        top: 81px;
        overflow-y: auto;
        @media (max-height: 580px) {
            bottom: 0;
        }
        ul {
            margin: 20px 0 0;
            &:first-of-type {
                margin: 0;
            }
        }
        li {
            display: block;
            border-top: solid 1px #dfecf2;
            &:first-of-type {
                border-top: none;
            }
            &.with-label {
                a {
                    color: $blue;
                }
                span {
                    display: block;
                }
            }
            &.with-dropdown {
                > button:after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 22px;
                    height: 14px;
                    background-image: url('../img/icon-burger.svg');
                    background-size: 100% 100%;
                    right: 0;
                    top: 50%;
                    margin: -7px 20px;
                    opacity: .5;
                }
                ul {
                    display: none;
                    li {
                    }
                    a {
                        font-weight: 400;
                    }
                }
            }
            &.is-on {
                > a {
                    background-color: #fff;
                    &:after {
                        opacity: 1;
                    }
                }
                ul {
                    display: block;
                }
            }
        }
        a, button {
            font-size: 14px;
            text-decoration: none;
            display: block;
            color: #54597b;
            position: relative;
            font-weight: bold;
            line-height: 50px;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding: 0 50px 0 30px;
            text-transform: uppercase;
            background: transparent;
            border: none;
            width: 100%;
            text-align: left;
            &:hover {
                background: #fff;
                &:after {
                    opacity: 1 !important;
                }
            }
            span {
                display: none;
                position: absolute;
                top: 50%;
                right: 0;
                margin: -12px 30px 0 0;
                font-size: 12px;
                line-height: 24px;
                color: #fff;
                padding: 0 8px;
                background: $blue;
                border-radius: 3px;
            }
        }
    }
}
.cover {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(4, 9, 20, 0);
    visibility: hidden;
    transition: all .5s ease;
    opacity: 0;
    &.is-on {
        z-index: 9;
        background-color: rgba(4, 9, 20, 0.9);
        visibility: visible;
        opacity: 1;
    }
}

.login-page {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 100%;
    background: url('../img/main-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.container {
    padding-top: 100px;
    padding-bottom: 100px;
    .screen {
        padding: 50px 0;
    }
    .main {
        line-height: 40px;
        font-weight: 300;
        color: #fff;
        padding: 60px 50px 0 0;
        color: #ffffff;
        h1 {
            font-size: 48px;
            font-weight: 300;
        }
        hr {
            display: block;
            height: 2px;
            background: $blue;
            width: 180px;
            margin: 22px 0 18px 0;
            border: none;
        }
        .text {
            font-size: 24px;
            font-weight: 300;
            line-height: 1.67;
            max-width: 300px;
            margin-bottom: 28px;
        }
        .controls {
            font-size: 0;
        }
        .btn {
            font-weight: 400;
            background: transparent;
            border: 1px solid rgba(255, 255, 255, .2);
            padding: 0 30px;
            &:first-child {
                min-width: 197px;
                text-align: left;
                margin-right: 15px;
            }
            &:hover{
                border-color: rgba(255, 255, 255, .6);
            }
        }
        .steps {
            font-size: 0;
            margin-top: 28px;
        }
        .step {
            position: relative;
            padding: 0 0 20px 30px;
            font-size: 0;
            line-height: 22px;
            &:before {
                content: '';
                display: block;
                background: $blue;
                width: 10px;
                height: 10px;
                left: 0;
                top: 0;
                border-radius: 50%;
                position: absolute;
                margin: 5px 0 0;
            }
            &:after {
                content: '';
                position: absolute;
                display: block;
                background: $blue;
                width: 2px;
                top: 25px;
                left: 4px;
                bottom: 10px;
            }
            &:last-of-type:after {
                display: none;
            }
            span {
                color: $blue;
                font-size: 16px;
            }
            p {
                font-size: 24px;
                margin: 0;
            }
        }
        .benefits {
            margin: 30px 0 0;
            li {
                display: block;
                position: relative;
                margin-bottom: 15px;
                padding-left: 35px;
                font-size: 18px;
                &:before {
                    content: '';
                    display: block;
                    background: url('../img/icon-blue-check.svg');
                    background-size: 100% 100%;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    margin: -10px 0;
                }
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
        .pay-methods {
            font-size: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 360px;
            margin: 2px 0 0;
        }
    }
    .form-block {
        background: #fff;
        color: #000;
        border-radius: 3px;
        width: 400px;
        padding: 25px 45px 0;
        overflow: hidden;
        margin: 0 !important;
        form {
            margin-top: 25px;
        }
        .title {
            font-size: 24px;
        }
        label {
            display: block;
            font-size: 13px;
            margin-bottom: 4px;
            font-weight: 400;
        }
        .btn {
            display: block;
            width: 100%;
            text-transform: uppercase;
            margin: -4px 0 11px;
            span {
                font-size: 11px;
                line-height: 43px;
            }
            &:hover {
                background: $blue-btn-hover;
            }
        }
        .either {
            text-align: center;
            margin-bottom: 8px;
            span {
                display: inline-block;
                position: relative;
                font-size: 13px;
                color: #676d8e;
                line-height: 1;
                &:before, &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 100px;
                    height: 2px;
                    background: #e9edf2;
                    top: 5px;
                    left: -123px;
                }
                &:after {
                    left: auto;
                    right: -123px;
                }
            }
        }
        .controls {
            margin: 25px -45px 0;
            .btn {
                height: 43px;
                border-radius: 0 0 3px 3px;
                margin: 0;
            }
        }
    }
    .spinner {
        display: none;
        width: 16px;
        height: 16px;
        margin: -8px 10px;
        padding: 0;
        position: absolute;
        top: 50%;
        left: 100%;
        border: 3px solid;
        border-top-color: transparent;
        border-left-color: transparent;
        border-radius: 50%;
        color: $blue;
        background-color: transparent;
        animation: spinner 0.9s linear infinite;
        z-index: 99;
        &.is-on{
            display: block;
        }
        @keyframes spinner {
            100% {
                transform: rotate(360deg);
            }
        }
    }
}

.busy {
    pointer-events: none;
    position: relative;
    display: block;
    margin: 0 auto;
    min-height: 30px;
    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, .8);
        z-index: 98;
    }
    &:after {
        content: '';
        display: block;
        width: 30px;
        height: 30px;
        margin: -15px;
        padding: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        border: 4px solid;
        border-top-color: transparent;
        border-left-color: transparent;
        border-radius: 50%;
        color: #000;
        background-color: transparent;
        animation: loader 0.9s linear infinite;
        z-index: 99;
        @keyframes loader {
            100% {
                transform: rotate(360deg);
            }
        }
    }
    .busy:after {
        display: none !important;
    }
    .spinner{
        display: none !important;
    }
}

@import "validation";