* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent; }

html,
body {
  min-height: 100%;
  min-width: 990px;
  height: 1px;
  background: #ECF1F3; }

body {
  font-size: 16px;
  color: #000;
  position: relative;
  font-family: "Roboto", Arial, sans-serif;
  -webkit-font-smoothing: antialiased; }

.cols {
  display: table;
  width: 100%; }
  .cols .row {
    display: table-row;
    padding: 0;
    margin: 0; }
  .cols .col {
    display: table-cell;
    vertical-align: top; }

@media (min-width: 320px) {
  .container {
    min-width: 990px !important;
    width: 990px; } }

.form-group label {
  font-weight: 400;
  font-size: 12px;
  display: block; }
.form-group-captcha {
  display: none; }

.form-control {
  height: 44px;
  box-shadow: none !important;
  border-color: #e9eff4;
  font-size: 12px; }
  .form-control:focus {
    border-color: #24aded !important; }

.checkbox input {
  display: none; }
  .checkbox input:checked + span:before {
    border-color: transparent;
    background-image: url("../img/icon-blue-check.svg"); }
.checkbox span {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: block; }
  .checkbox span:before {
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 3px;
    border: 1px solid #e9eff4;
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    margin: -10px 0;
    background-repeat: no-repeat;
    background-size: 150% 150%;
    background-position: center center; }

.btn {
  display: inline-block;
  padding: 0 10px;
  height: 44px;
  line-height: 44px;
  background: #24aded;
  border-radius: 3px;
  border: none;
  letter-spacing: 1px;
  text-align: center;
  font-weight: bold;
  font-size: 0;
  color: #ffffff;
  -webkit-transition: all 0.4s ease;
          transition: all 0.4s ease;
  cursor: pointer; }
  .btn img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 13px; }
  .btn span {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px; }
  .btn:hover {
    background: #4cc7ff;
    color: #ffffff; }
  .btn:focus {
    color: #fff; }

header .sandwich {
  position: absolute;
  cursor: pointer;
  top: 34px;
  left: 30px;
  width: 22px;
  height: 14px;
  font-size: 0;
  z-index: 1; }

.side-menu {
  position: fixed;
  right: 100%;
  top: 0;
  bottom: 0;
  width: 300px;
  min-height: 100%;
  background-color: #ECF1F3;
  z-index: 10;
  -webkit-transition: -webkit-transform .5s ease;
          transition: transform .5s ease; }
  .side-menu.is-on {
    box-shadow: 0 2px 40px 0 rgba(56, 127, 161, 0.5);
    -webkit-transform: translateX(300px);
        -ms-transform: translateX(300px);
            transform: translateX(300px); }
  .side-menu .top {
    background: #24aded;
    display: table;
    width: 100%;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    padding: 0 30px;
    height: 81px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0; }
    .side-menu .top a {
      color: #fff; }
    .side-menu .top .location {
      display: table-cell;
      vertical-align: middle; }
    .side-menu .top .control {
      display: table-cell;
      vertical-align: middle;
      white-space: nowrap;
      width: 1px;
      text-decoration: none !important; }
      .side-menu .top .control button {
        font-size: 0;
        background: transparent;
        border: none;
        text-transform: uppercase; }
      .side-menu .top .control span {
        font-size: 12px;
        display: inline-block;
        vertical-align: middle; }
      .side-menu .top .control img {
        display: inline-block;
        vertical-align: middle;
        margin-left: 12px; }
  .side-menu .bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 0 10px;
    text-align: center; }
    @media (max-height: 580px) {
      .side-menu .bottom {
        display: none; } }
  .side-menu .navigation {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    top: 81px;
    overflow-y: auto; }
    @media (max-height: 580px) {
      .side-menu .navigation {
        bottom: 0; } }
    .side-menu .navigation ul {
      margin: 20px 0 0; }
      .side-menu .navigation ul:first-of-type {
        margin: 0; }
    .side-menu .navigation li {
      display: block;
      border-top: solid 1px #dfecf2; }
      .side-menu .navigation li:first-of-type {
        border-top: none; }
      .side-menu .navigation li.with-label a {
        color: #24aded; }
      .side-menu .navigation li.with-label span {
        display: block; }
      .side-menu .navigation li.with-dropdown > button:after {
        content: '';
        display: block;
        position: absolute;
        width: 22px;
        height: 14px;
        background-image: url("../img/icon-burger.svg");
        background-size: 100% 100%;
        right: 0;
        top: 50%;
        margin: -7px 20px;
        opacity: .5; }
      .side-menu .navigation li.with-dropdown ul {
        display: none; }
        .side-menu .navigation li.with-dropdown ul a {
          font-weight: 400; }
      .side-menu .navigation li.is-on > a {
        background-color: #fff; }
        .side-menu .navigation li.is-on > a:after {
          opacity: 1; }
      .side-menu .navigation li.is-on ul {
        display: block; }
    .side-menu .navigation a, .side-menu .navigation button {
      font-size: 14px;
      text-decoration: none;
      display: block;
      color: #54597b;
      position: relative;
      font-weight: bold;
      line-height: 50px;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding: 0 50px 0 30px;
      text-transform: uppercase;
      background: transparent;
      border: none;
      width: 100%;
      text-align: left; }
      .side-menu .navigation a:hover, .side-menu .navigation button:hover {
        background: #fff; }
        .side-menu .navigation a:hover:after, .side-menu .navigation button:hover:after {
          opacity: 1 !important; }
      .side-menu .navigation a span, .side-menu .navigation button span {
        display: none;
        position: absolute;
        top: 50%;
        right: 0;
        margin: -12px 30px 0 0;
        font-size: 12px;
        line-height: 24px;
        color: #fff;
        padding: 0 8px;
        background: #24aded;
        border-radius: 3px; }

.cover {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(4, 9, 20, 0);
  visibility: hidden;
  -webkit-transition: all .5s ease;
          transition: all .5s ease;
  opacity: 0; }
  .cover.is-on {
    z-index: 9;
    background-color: rgba(4, 9, 20, 0.9);
    visibility: visible;
    opacity: 1; }

.login-page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 100%;
  background: url("../img/main-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; }

.container {
  padding-top: 100px;
  padding-bottom: 100px; }
  .container .screen {
    padding: 50px 0; }
  .container .main {
    line-height: 40px;
    font-weight: 300;
    color: #fff;
    padding: 60px 50px 0 0;
    color: #ffffff; }
    .container .main h1 {
      font-size: 48px;
      font-weight: 300; }
    .container .main hr {
      display: block;
      height: 2px;
      background: #24aded;
      width: 180px;
      margin: 22px 0 18px 0;
      border: none; }
    .container .main .text {
      font-size: 24px;
      font-weight: 300;
      line-height: 1.67;
      max-width: 300px;
      margin-bottom: 28px; }
    .container .main .controls {
      font-size: 0; }
    .container .main .btn {
      font-weight: 400;
      background: transparent;
      border: 1px solid rgba(255, 255, 255, 0.2);
      padding: 0 30px; }
      .container .main .btn:first-child {
        min-width: 197px;
        text-align: left;
        margin-right: 15px; }
      .container .main .btn:hover {
        border-color: rgba(255, 255, 255, 0.6); }
    .container .main .steps {
      font-size: 0;
      margin-top: 28px; }
    .container .main .step {
      position: relative;
      padding: 0 0 20px 30px;
      font-size: 0;
      line-height: 22px; }
      .container .main .step:before {
        content: '';
        display: block;
        background: #24aded;
        width: 10px;
        height: 10px;
        left: 0;
        top: 0;
        border-radius: 50%;
        position: absolute;
        margin: 5px 0 0; }
      .container .main .step:after {
        content: '';
        position: absolute;
        display: block;
        background: #24aded;
        width: 2px;
        top: 25px;
        left: 4px;
        bottom: 10px; }
      .container .main .step:last-of-type:after {
        display: none; }
      .container .main .step span {
        color: #24aded;
        font-size: 16px; }
      .container .main .step p {
        font-size: 24px;
        margin: 0; }
    .container .main .benefits {
      margin: 30px 0 0; }
      .container .main .benefits li {
        display: block;
        position: relative;
        margin-bottom: 15px;
        padding-left: 35px;
        font-size: 18px; }
        .container .main .benefits li:before {
          content: '';
          display: block;
          background: url("../img/icon-blue-check.svg");
          background-size: 100% 100%;
          width: 20px;
          height: 20px;
          position: absolute;
          left: 0;
          top: 50%;
          margin: -10px 0; }
        .container .main .benefits li:last-of-type {
          margin-bottom: 0; }
    .container .main .pay-methods {
      font-size: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 360px;
      margin: 2px 0 0; }
  .container .form-block {
    background: #fff;
    color: #000;
    border-radius: 3px;
    width: 400px;
    padding: 25px 45px 0;
    overflow: hidden;
    margin: 0 !important; }
    .container .form-block form {
      margin-top: 25px; }
    .container .form-block .title {
      font-size: 24px; }
    .container .form-block label {
      display: block;
      font-size: 13px;
      margin-bottom: 4px;
      font-weight: 400; }
    .container .form-block .btn {
      display: block;
      width: 100%;
      text-transform: uppercase;
      margin: -4px 0 11px; }
      .container .form-block .btn span {
        font-size: 11px;
        line-height: 43px; }
      .container .form-block .btn:hover {
        background: #4cc7ff; }
    .container .form-block .either {
      text-align: center;
      margin-bottom: 8px; }
      .container .form-block .either span {
        display: inline-block;
        position: relative;
        font-size: 13px;
        color: #676d8e;
        line-height: 1; }
        .container .form-block .either span:before, .container .form-block .either span:after {
          content: "";
          display: block;
          position: absolute;
          width: 100px;
          height: 2px;
          background: #e9edf2;
          top: 5px;
          left: -123px; }
        .container .form-block .either span:after {
          left: auto;
          right: -123px; }
    .container .form-block .controls {
      margin: 25px -45px 0; }
      .container .form-block .controls .btn {
        height: 43px;
        border-radius: 0 0 3px 3px;
        margin: 0; }
  .container .spinner {
    display: none;
    width: 16px;
    height: 16px;
    margin: -8px 10px;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 100%;
    border: 3px solid;
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
    color: #24aded;
    background-color: transparent;
    -webkit-animation: spinner 0.9s linear infinite;
            animation: spinner 0.9s linear infinite;
    z-index: 99; }
    .container .spinner.is-on {
      display: block; }
@-webkit-keyframes spinner {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes spinner {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
.busy {
  pointer-events: none;
  position: relative;
  display: block;
  margin: 0 auto;
  min-height: 30px; }
  .busy:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 98; }
  .busy:after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    margin: -15px;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 4px solid;
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
    color: #000;
    background-color: transparent;
    -webkit-animation: loader 0.9s linear infinite;
            animation: loader 0.9s linear infinite;
    z-index: 99; }
@-webkit-keyframes loader {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes loader {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
  .busy .busy:after {
    display: none !important; }
  .busy .spinner {
    display: none !important; }

.has-validator .form-control {
  border-color: #fe0080; }
  .has-validator .form-control.ng-untouched {
    border-color: #e9eff4; }
.has-validator .ng-valid .form-control,
.has-validator .ng-valid .selection,
.has-validator .ng-valid.form-control {
  border-color: #e9eff4; }
.has-validator .ng-invalid.ng-touched .form-control,
.has-validator .ng-invalid.ng-touched .selection,
.has-validator .ng-invalid.ng-touched.form-control {
  border-color: #fe0080; }

.all-validation .error {
  display: block; }
.all-validation .has-validator .ng-invalid .form-control,
.all-validation .has-validator .ng-invalid .selection,
.all-validation .has-validator .ng-invalid.form-control {
  border-color: #fe0080; }
.all-validation .has-validator app-transliteration-input.form-control.ng-invalid input {
  border-color: #fe0080; }

.is-required {
  position: relative; }
  .is-required:before {
    content: "*";
    display: block;
    position: absolute;
    font-size: 19px;
    color: #24aded;
    line-height: 46px;
    right: 15px; }
  .is-required .form-control {
    padding-right: 25px; }

.error {
  font-size: 10px;
  color: #fe0080;
  margin-top: 2px;
  display: none; }
